
<div class="show-user">
<div class="container"><div class="cadre"></div><div class="user"><h2><%= @user.name  %></h2> <p><span></span><span>Number of posts : <span><%= @user.posts_counter %></span></span></p></div></div>

<p class='bio'><%= @user.bio %></p>
<br>
<% @post_most_recent.each_with_index do |posts, idx|%>
    <div class='post'><span class='title'><%= link_to 'Post #', user_posts_path(@user, posts) %><%= idx + 1 %></span>
    <br><%= posts.text %></div>
<% end %>
<br>
</div>

