
<div class="show-user">
<div class="container"><div class="cadre"><%= @user.photo %></div><div class="user"><h2><%= @user.name  %></h2> <p><span></span><span>Number of posts : <span><%= @user.posts_counter %></span></span></p></div></div>

<p class='bio'><%= @user.bio %></p>
<br>
<div id="small-post">
<% @user.recent_post.each_with_index do |posts, idx|%>
    
    
    <div class='post'>
    <span class='title'>
    <%= link_to posts.title, user_posts_path(@user, posts) %>
    </span><br>
    <%= posts.text %>
    <p>
        <span></span>
        <span>comments : <span><% if (posts.comments_counter) %>
        <%= posts.comments_counter %>
        <% else %>
        <%= 0 %>
        <% end %>
        , likes : <span><% if (posts.likes_counter) %>
        <%= posts.likes_counter %>
        <% else %>
        <%= 0 %>
        <% end %></span></span>
        
    </p>
</div>
    
<% end %>
<button id="see_all"> See all </button>
</div>


<div id="big-post">
<% @user.all_post.each_with_index do |posts, idx|%>
    <div class='post'><span class='title'><%= link_to posts.title, user_posts_path(@user, posts) %><%= idx + 1 %></span>
    <br><%= posts.text %></div>
<% end %>
</div>
<br>
</div>
<script>
let button = document.querySelector('#see_all');
let big_post = document.querySelector('#big-post');
let small_post = document.querySelector('#small-post');

button.addEventListener('click', () => {
    small_post.style.display = 'none';
    big_post.style.display = 'block';
});
</script>



