<div class="show-user">
<div class="container"><div class="cadre"><%= @user.photo %></div><div class="user"><h2><%= @user.name  %></h2> <p><span></span><span>Number of posts : <span><%= @user.posts_counter %></span></span></p></div></div>

<br>

<div id="pagination">
<% @post.each_with_index do |posts, idx|%>
    
    <% if idx < 3 %>
    <div class='post'>
        <span class='title'>
            <%= link_to posts.title, user_post_path(@user, posts) %>
        </span><br>
        <%= posts.text %>
        <p>
            <span></span>
            <span>comments : <span><% if (posts.comments_counter) %>
            <%= posts.comments_counter %>
            <% else %>
            <%= 0 %>
            <% end %>
            , likes : <span><% if (posts.likes_counter) %>
            <%= posts.likes_counter %>
            <% else %>
            <%= 0 %>
            <% end %></span></span>
            
        </p>
    </div>
    <div class='comment'>
    <% posts.recent_comments.each_with_index do |comments, idx|%>
        
            <% @user_check.each do |user_c|%>
                <% if(comments.user_id == user_c.id)%>
                    <%= user_c.name %>:<%= comments.text %><br>
                <% end %>
            <% end %>
        
        
    <% end %></div>
    
    <% end %> 
    
    
<% end %>
<button id="pagination-button">Pagination</button>
</div>


<div id="pagination-hide">
<% @post.each_with_index do |posts, idx|%>
    <% if idx > 2 %>
    <div class='post'>
        <span class='title'>
            <%= link_to posts.title, user_post_path(@user, posts) %>
        </span><br>
        <%= posts.text %>
        <p>
            <span></span>
            <span>comments : <span><% if (posts.comments_counter) %>
            <%= posts.comments_counter %>
            <% else %>
            <%= 0 %>
            <% end %>
            , likes : <span><% if (posts.likes_counter) %>
            <%= posts.likes_counter %>
            <% else %>
            <%= 0 %>
            <% end %></span></span>
            
        </p>
    </div>
    <div class='comment'>
    <% posts.recent_comments.each_with_index do |comments, idx|%>
        
            <% @user_check.each do |user_c|%>
                <% if(comments.user_id == user_c.id)%>
                    <%= user_c.name %>:<%= comments.text %><br>
                <% end %>
            <% end %>
        
        
    <% end %></div>
    <% end %>
    
<% end %>
</div>

<br>
</div> 

<script>
let button = document.querySelector('#pagination-button');
let big_post = document.querySelector('#pagination-hide');
let small_post = document.querySelector('#pagination');

button.addEventListener('click', () => {
    small_post.style.display = 'none';
    big_post.style.display = 'block';
});
</script>
